{{#if task.completed}}
  <div id="{{task._id}}" class="item item_task complete">
{{else}}
  <div id="{{task._id}}" class="item item_task">
{{/if}}


  <div class="ui grid middle aligned">
    <div class="column center aligned no-margin two wide">
      {{!-- Checkbox Icon --}}
      {{#if task.completed}}
        <i class="icon large empty checkbox checked" task={{task._id}}></i>
      {{else}}
        <i class="icon large empty checkbox" task={{task._id}}></i>
      {{/if}}
    </div>

    <div class="column left aligned no-margin eight wide">
      <div class="task-info">
        <span class="task-title">{{task.title}}</span><br>
        <span class="task-deadline">{{task.deadlineString}}</span>
      </div>
    </div>

    <div class="column right aligned no-margin six wide">
      {{#if task.notes}}
        <i class="icon square text file outline popup-button edit-notes black inverted" data-html='{{saveNotes task}}'></i>
      {{else}}
        <i class="icon square text file outline popup-button edit-notes" data-html='{{saveNotes task}}'></i>
      {{/if}}

      {{#if task.deadline}}
        <i class="icon square calendar popup-button edit-deadline black inverted" data-html="{{saveDeadline task}}"></i>
      {{else}}
        <i class="icon square calendar popup-button edit-deadline" data-html="{{saveDeadline task}}"></i>
      {{/if}}

      <i class="icon square ui dropdown edit-priority pointing" task={{task._id}} priority={{task.priority}}>
        <div class="menu ui transition hidden">
          <div class="item" data-value="1">
            <i class="icon up menu-icon"></i>
          </div>
          <div class="item" data-value="0">
            <i class="icon circle blank menu-icon"></i>
          </div>
          <div class="item" data-value="-1">
            <i class="icon down menu-icon"></i>
          </div>
        </div>
      </i>
    </div>
  </div>
</div>